<style>
    @media screen and (min-width: 601px) {
        div.report {
            font-size: 15px;
        }
    }

    @media screen and (max-width: 600px) {
        div.report {
            font-size: 12px;
        }
    }

    .report {
        margin-top: 20px;
        margin-bottom: 20px;
        max-width: 1220px;
        text-align: center;
    }
</style>
<div class="container" style="width:90vw; margin-top: 70px; max-width:1220px;">
  <%= render "errors/flash_error" %>
  <div class="card shadow bg-light mx-auto">
    <div class="card-body">
      <div class="row">
        <div class="col-2 col-xxl-1">
          <%= image_tag current_user.image.thumb.url, class: 'd-flex justify-content-start rounded-circle mb-3', style: 'width:60px' if current_user.image? %>
        </div>
        <div class="col-10 col-xxl-11">
          <div class="py-1"><strong class="pe-2">Username:</strong> <%= current_user.username %></div>
          <div class="py-1"><strong class="pe-2">Email:</strong><%= current_user.email %></div>
          <div class="py-1 mb-2"><strong class="pe-2">Coins:</strong><%= current_user.coins %> <%= image_tag ("/assets/coin.svg"), width: 20 %></div>
        </div>
        <div class="mb-3">
          <a href="#" class="btn btn-primary form-control">Cash in Now</a>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <%= link_to "Edit Profile", edit_user_registration_path, class: 'btn btn-primary form-control' %>
        </div>
        <div class="col">
          <%= link_to "Address", users_addresses_path, class: 'btn btn-primary form-control' %>
        </div>
      </div>
    </div>
  </div>
  <div class="report">
    <%= link_to "Order History", users_profile_path(report: 'order'), class: "link-dark text-decoration-none mx-2", style: "#{'background-color :#10ccf4; font-weight: bolder; border-radius: 20px; padding: 10px;' if params[:report] == 'order' || params[:report].blank?}" %>
    <%= link_to "Lottery History", users_profile_path(report: 'bet'), class: "link-dark text-decoration-none mx-2", style: "#{'background-color :#10ccf4; font-weight: bolder; border-radius: 20px; padding: 10px;' if params[:report] == 'bet'}" %>
    <%= link_to "Invite History", users_profile_path(report: 'invite'), class: "link-dark text-decoration-none mx-2", style: "#{'background-color :#10ccf4; font-weight: bolder; border-radius: 20px; padding: 10px;' if params[:report] == 'invite'}" %>
    <%= link_to "Winning History", users_profile_path(report: 'winner'), class: "link-dark text-decoration-none mx-2", style: "#{'background-color :#10ccf4; font-weight: bolder; border-radius: 20px; padding: 10px;' if params[:report] == 'winner'}" %>
  </div>
  <% @orders&.each do |order| %>
    <div class="card shadow mt-3 mb-3 bg-light mx-auto">
      <div class="card-body">
        <div class="py-1"><strong>Serial Number:</strong> <%= order.serial_number %></div>
        <div class="py-1"><strong>Amount:</strong> ₱<%= order.amount %></div>
        <div class="py-1"><strong>Coin:</strong> <%= order.coin %></div>
        <div class="py-1"><strong>Created At:</strong> <%= order.created_at %></div>
        <div class="py-1"><strong>State:</strong> <%= order.state %></div>
        <div class="py-1"><%= link_to 'Cancel', users_orders_cancel_path(order), class: 'btn btn-danger btn-sm me-3', data: { confirm: 'Are you sure?' }, method: :put if order.submitted? %></div>
      </div>
    </div>
  <% end %>
  <% @bets&.each do |bet| %>
    <div class="card shadow mt-3 mb-3 bg-light mx-auto">
      <div class="card-body">
        <div class="py-1"><strong>Serial Number:</strong> <%= bet.serial_number %></div>
        <div class="py-1"><strong>Item Name:</strong> <%= bet.item.name %></div>
        <div class="py-1"><strong>Email:</strong> <%= bet.user.email %></div>
        <div class="py-1"><strong>State:</strong> <%= bet.state %></div>
        <div class="py-1"><strong>Created At:</strong> <%= bet.created_at %></div>
      </div>
    </div>
  <% end %>
  <% @winners&.each do |winner| %>
    <div class="card shadow mt-3 mb-3 bg-light mx-auto">
      <div class="card-body">
        <div class="py-1"><strong>Serial Number:</strong> <%= winner.bet.serial_number %></div>
        <div class="py-1"><strong>Email:</strong> <%= winner.user.email %></div>
        <div class="py-1"><strong>State:</strong> <%= winner.state %></div>
        <div class="py-1"><strong>Created At:</strong> <%= winner.created_at %></div>
        <div class="py-1"><%= link_to 'Share', users_share_path(winner), data: { confirm: 'Are you sure?' }, class: 'btn btn-primary btn-sm me-3' if winner.delivered? %></div>
        <div class="py-1"><%= link_to 'Claim', users_winner_path(winner), data: { confirm: 'Are you sure?' }, class: 'btn btn-primary btn-sm' if winner.won? %></div>
      </div>
    </div>
  <% end %>
  <% @invitations&.each do |invitation| %>
    <div class="card shadow mt-3 mb-3 bg-light mx-auto">
      <div class="card-body">
        <div class="py-1"><strong>Username:</strong> <%= invitation.username %></div>
        <div class="py-1"><strong>Email:</strong> <%= invitation.email %></div>
      </div>
    </div>
  <% end %>
</div>
<br><br><br>
<%= render "users/shared/layout" %>