<%= render '/users/shared/banner' %>
<%= render 'errors/flash_error' %>
<div class="container" style="margin-bottom: 100px; max-width: 1220px">
  <h4 style="padding: 10px">Winners Feedback</h4>
  <% @winner_exp.each do |winner| %>
    <%= link_to winner_experience_path(winner), class: 'img-fluid text-decoration-none text-dark' do %>
      <div class="card w-100 mt-2 bg-light">
        <div class="card-body">
          <div class="row">
            <div class="col-4 col-sm-3 col-md-2 col-lg-2">
              <div class="w-100 overflow-hidden" style="aspect-ratio: 1 / 1">
                <%= image_tag winner.picture.thumb.url, class: 'img-responsive w-100 h-100', style: 'object-fit: cover;' if winner.picture? %>
              </div>
            </div>
            <div class="col">
              <p>Username: <%= winner.user.username %></p>
              <p>Comment: <%= winner.comment %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<%= render "users/shared/layout" %>