<div class="form-group">
  <%= image_tag item.image.thumb.url, class:'rounded mx-auto d-block' if item.image?%>
  <%= f.label :image, class:'fs-6 mt-2' %>
  <%= f.file_field :image, class: 'form-control mt-2', placeholder: 'Image' %>
</div>
<div class="form-group">
  <%= f.text_field :name, class: 'form-control mt-3', placeholder: 'Name' %>
</div>
<div class="form-group">
  <%= f.text_field :quantity, class: 'form-control mt-3', placeholder: 'Quantity' %>
</div>
<div class="form-group">
  <%= f.text_field :minimum_bets, class: 'form-control mt-3', placeholder: 'Minimum Bets' %>
</div>
<div class="form-group">
  <%= f.label :online_at, class:'fs-6 mt-2' %>
  <%= f.date_field :online_at, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :offline_at, class:'fs-6 mt-2' %>
  <%= f.date_field :offline_at, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :start_at, class:'fs-6 mt-2' %>
  <%= f.date_field :start_at, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.select :category_id, Category.all.map { |c| [c.name, c.id] }, { include_blank: 'Please Select Category' }, { class: 'form-control mt-3' } %>
</div>
<div class="form-group">
  <%= f.select(:status, Item.statuses.keys.map { |key| [key.humanize, key] }, { include_blank: 'Please Select Status' }, { class: 'form-control mt-3' }) %>
</div>
<div class="form-group d-flex">
  <%= f.submit class: 'btn btn-primary mt-3 mx-auto' %>
</div>