<div class="main">
  <div class="card w-50 bg-light" style="margin: 0 auto; float: none; margin-top: 70px;">
    <div class="card-body">
      <% if @item.errors.any? %>
        <% @item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      <% end %>
      <div class="form-group">
        <%= form_for @item, url: admin_item_path(@item), method: :patch do |f| %>
          <%= f.file_field :image, class: 'form-control mt-3', placeholder: 'Image' %>
          </div>
          <div class="form-group">
            <%= f.text_field :name, class: 'form-control mt-3', placeholder: 'Name' %>
          </div>
          <div class="form-group">
            <%= f.text_field :quantity, class: 'form-control mt-3', placeholder: 'Quantity' %>
          </div>
          <div class="form-group">
            <%= f.text_field :minimum_bets, class: 'form-control mt-3', placeholder: 'Minimum Bets' %>
          </div>
          <div class="form-group">
            <%= f.date_field :online_at, class: 'form-control mt-3', placeholder: 'Online At' %>
          </div>
          <div class="form-group">
            <%= f.date_field :offline_at, class: 'form-control mt-3', placeholder: 'Offline At' %>
          </div>
          <div class="form-group">
            <%= f.date_field :start_at, class: 'form-control mt-3', placeholder: 'Start At' %>
          </div>
          <div class="form-group">
            <%= f.select(:status, Item.statuses.keys.map {|key| [key.humanize, key]}, { include_blank: 'Please Select Status' }, {class: 'form-control mt-3'})%>
          </div>
          <div class="form-group d-flex">
            <%= f.submit class: 'btn btn-primary mt-3 mx-auto' %>
          </div>
        <% end %>
        </div>
  </div>
</div>