<div class="center w-75" style="margin: 50px auto">
  <div class="main">
    <%= render 'errors/flash_error' %>
    <%= form_tag({ url: admin_items_path }, { method: :get }) do %>
      <div class="d-inline-block">
        <%= link_to 'New', new_admin_item_path, class: "btn btn-success" %>
      </div>
      <div class="d-inline-block" style="float: right">
        <div class="d-inline-block">
          <div class="input-group" style="width: 350px; margin-bottom: 10px">
            <%= text_field_tag :name, params[:name], class: "form-control", placeholder: 'Name' %>
            <%= submit_tag :Search, class: "btn btn-warning" %>
          </div>
        </div>
        <%= link_to 'Reset', admin_items_path, class: 'btn btn-info' %>
      </div>
    <% end %>
    <table class="table table-dark table-striped text-center fs-6">
      <thead class="table-active">
      <tr>
        <th colspan="14">Item List</th>
      </tr>
      <tr>
        <th scope="col">Image</th>
        <th scope="col">Name</th>
        <th scope="col">Category</th>
        <th scope="col">Quantity</th>
        <th scope="col">Minimum Bets</th>
        <th scope="col">State</th>
        <th scope="col">Batch Count</th>
        <th scope="col">Online At</th>
        <th scope="col">Offline At</th>
        <th scope="col">Start At</th>
        <th scope="col">Status</th>
        <th colspan="3">Action</th>
      </tr>
      </thead>
      <% if @items.blank? %>
        <td colspan="14">No Item Found</td>
      <% end %>
      <tbody>
      <% @items.each do |item| %>
        <tr>
          <td><%= image_tag item.image.thumb.url, class: "mx-auto d-block w-100 p-3" if item.image? %></td>
          <td><%= item.name %></td>
          <td><%= item.category.name %></td>
          <td><%= item.quantity %></td>
          <td><%= item.minimum_bets %></td>
          <td><%= item.state %></td>
          <td><%= item.batch_count %></td>
          <td><%= item.online_at %></td>
          <td><%= item.offline_at %></td>
          <td><%= item.start_at %></td>
          <td><%= item.status %></td>
          <td>
            <%= link_to "Edit", edit_admin_item_path(item), class: 'btn btn-primary col-12' %>
            <%= link_to 'Delete', admin_item_path(item), method: :delete, class: 'btn btn-danger mt-2 col-12', style: "display: inline-block", data: { confirm: 'Are you sure?' } %>
          </td>
          <td>
            <%= link_to 'Start', admin_item_start_path(item), class: 'btn btn-success mb-2 col-12', data: { confirm: 'Are you sure?' }, method: :put if item.may_start? %>
            <%= link_to 'Pause', admin_item_pause_path(item), class: 'btn btn-warning mb-2 col-12', data: { confirm: 'Are you sure?' }, method: :put if item.may_pause? %>
            <%= link_to 'End', admin_item_end_path(item), class: 'btn btn-danger  mb-2 col-12', data: { confirm: 'Are you sure?' }, method: :put if item.may_end? %>
            <%= link_to 'Cancel', admin_item_cancel_path(item), class: 'btn btn-danger col-12', data: { confirm: 'Are you sure?' }, method: :put if item.may_cancel? %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
