<div class="main">
  <div class="card w-50 bg-light" style="margin: 0 auto; float: none; margin-top: 70px;">
    <div class="card-body">
      <% if @item.errors.any? %>
        <% @item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      <% end %>
      <%= form_for @item, url: admin_items_path, method: :post do |f| %>
        <div class="form-group">
          <%= f.file_field :image, class: 'form-control mt-3', placeholder: 'Image' %>
        </div>
        <div class="form-group">
          <%= f.text_field :name, class: 'form-control mt-3', placeholder: 'Name' %>
        </div>
        <div class="form-group">
          <%= f.text_field :quantity, class: 'form-control mt-3', placeholder: 'Quantity' %>
        </div>
        <div class="form-group">
          <%= f.text_field :minimum_bets, class: 'form-control mt-3', placeholder: 'Minimum Bets' %>
        </div>
        <div class="form-floating">
          <%= f.date_field :online_at, class: 'form-control mt-3' %>
          <label for="floatingInput">Online At</label>
        </div>
        <div class="form-floating">
          <%= f.date_field :offline_at, class: 'form-control mt-3' %>
          <label for="floatingInput">Offline At</label>
        </div>
        <div class="form-floating">
          <%= f.date_field :start_at, class: 'form-control mt-3' %>
          <label for="floatingInput">Start At</label>
        </div>
        <div class="form-group">
          <%= f.select :category_id, Category.all.map { |c| [c.name, c.id] }, { include_blank: 'Please Select Category' }, { class: 'form-control mt-3' } %>
        </div>
        <div class="form-group">
          <%= f.select(:status, Item.statuses.keys.map { |key| [key.humanize, key] }, { include_blank: 'Please Select Status' }, { class: 'form-control mt-3' }) %>
        </div>
        <div class="form-group d-flex">
          <%= f.submit 'Create Item', class: 'btn btn-primary mt-3 mx-auto' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
