<style>
    .card {
        margin: 0 auto;
        float: none;
        margin-top: 70px;
    }
</style>
<div class="card w-50 border-0" style="width:90vw; max-width:700px">
  <div class="row">
    <div class="col">
      <%= link_to "Back", users_profile_path, class: 'btn btn-primary form-control' if current_user %>
    </div>
    <div class="col">
      <%= link_to "New Address", new_users_address_path, class: 'btn btn-primary form-control' %>
    </div>
  </div>
</div>
<div class="container" style="max-width:725px; padding-top: 15px">
  <%= render "errors/flash_error" %>
</div>
<% if @addresses.blank? %>
  <div class="card w-50 mt-3 text-center">
    <div class="card-body align-content-center">
      <div class="row">
        <p>Add Address!</p>
      </div>
    </div>
  </div>
<% else %>
  <% @addresses.each do |address| %>
    <div class="card border-info w-50 mt-3 mb-3" style="width:90vw; max-width:700px">
      <div class="card-body">
        <div class="row">
          <b><%= content_tag :div, 'Default', class: 'badge bg-info text-dark me-2 mb-2' if address.is_default? %><%= address.genre %></b>
          <p>Name: <%= address.name %></p>
          <p>Phone Number: <%= address.phone_number %></p>
          <p>Street
            Address: <%= "#{address.street_address}, #{address.barangay.name}, #{address.city.name}, #{address.province.name}, #{address.region.name}" %></p>
        </div>
        <%= link_to 'Delete', users_address_path(address), method: :delete, class: 'btn btn-danger' %>
        <%= link_to "Edit", edit_users_address_path(address), class: 'btn btn-primary' %></p>
      </div>
    </div>
  <% end %>
  <br><br><br>
<% end %>
</div>
<%= render "users/shared/layout" %>