<style>
    .card {
        margin: 0 auto;
        float: none;
        margin-top: 70px;
    }
</style>
<div class="card w-50 bg-light">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <%= link_to "Back", users_addresses_path, class: 'btn btn-primary form-control' if current_user %>
      </div>
      <div class="col"></div>
      <%= render 'errors/error', model: @address %>
      <%= form_for @address, url: users_addresses_path, method: :post do |f| %>
        <%= render partial: 'form', locals: { f: f, address: @address } %>
      <% end %>
    </div>
  </div>
</div>
</div>

<%= render "users/shared/layout" %>