<nav class="navbar bg-info fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><%= link_to "Project", root_path, class: "nav-link text-white" %></a>
     <ul class="nav offset-md-9">
      <% if current_user %>
        <li class="nav-item ">
          <a class="nav-link text-white" href="#">Coins </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Claim </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Language </a>
        </li>
       </ul>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <%= image_tag current_user.image.thumb.url, class:"rounded mx-auto d-block w-50 p-3" if current_user.image?%>
              <li class="nav-item">
                <%= "#{"Username: "}#{current_user.username}" %>
              </li>
              <li class="nav-item">
                <%= "#{"Email: "}#{current_user.email}" %>
              </li>
              <li class="nav-item">
                <%= "#{"Coins: "}#{current_user.coins}" %>
              </li>
              <li class="nav-item">
                <button class="btn btn-primary form-control">Cash In Now</button>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact Us</a>
              </li>
              <li class="nav-item">
                <a><%= link_to "Profile", users_profile_path, class: "nav-link text-black" %></a>
              </li>
              <li class="nav-item">
                <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "nav-link text-black"%>
              </li>
            </ul>
        </div>
     </div>
   </div>
</nav>
<nav class="navbar fixed-bottom navbar-expand-lg navbar-light bg-info">
  <ul class="nav justify-content-center offset-md-5">
    <li class="nav-item">
      <a class="nav-link text-white" href="#">Share</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="#">Invite</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="#">Lottery</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="#">Shop</a>
    <li class="nav-item">
      <a><%= link_to "Me", users_profile_path, class: "nav-link text-white" %></a>
    </li>
  </ul>
</nav>
<% else %>
<ul class="nav">
      <li class="nav-item ">
        <%= link_to "Login", new_user_session_path, class: "nav-link active text-white" %>
      </li>
      <li class="nav-item">
         <%= link_to "Sign Up", new_user_registration_path, class: "nav-link text-white" %>
      </li>
    </ul>
     <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
     </button>
     <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
       <div class="offcanvas-header">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
       </div>
        <div class="offcanvas-body">
         <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <p><a class="nav-link" href="#">Contact Us</a></p>
            <p><a class="nav-link" href="#">Facebook</a></p>
          </ul>
        </div>
      </div>
    </div>
</nav>
<nav class="navbar fixed-bottom navbar-expand-lg navbar-light bg-info">
  <ul class="nav justify-content-center offset-md-5">
    <li class="nav-item">
      <a class="nav-link text-white" href="#">Share</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="#">Invite</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="#">Lottery</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="#">Shop</a>
    </li>
    <li class="nav-item">
      <a><a class="nav-link text-white" href="#">Language</a></a>
    </li>
  </ul>
</nav>
<% end %>

