<div class="center w-75" style="margin: 50px auto">
  <div class="main">
    <%= render 'errors/flash_error' %>
    <%= form_tag({ url: admin_news_tickers_path }, { method: :get }) do %>
      <div class="d-inline-block">
        <%= link_to 'New', new_admin_news_ticker_path, class: "btn btn-success" %>
      </div>
      <div class="d-inline-block" style="float: right">
        <div class="d-inline-block">
          <div class="input-group" style="width: 350px; margin-bottom: 10px">
            <%= text_field_tag :content, params[:content], class: "form-control", placeholder: 'Content' %>
            <%= submit_tag :Search, class: "btn btn-warning" %>
          </div>
        </div>
        <%= link_to 'Reset', admin_news_tickers_path, class: 'btn btn-info' %>
      </div>
    <% end %>
    <table class="table table-dark table-striped text-center fs-6">
      <thead class="table-active">
      <tr>
        <th colspan="3">News Ticker List</th>
      </tr>
      <tr>
        <th>Content</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
      </thead>
      <% if @news_tickers.blank? %>
        <td colspan="3">No Record Found</td>
      <% end %>
      <tbody>
      <% @news_tickers.each do |news_ticker| %>
        <tr>
          <td><%= news_ticker.content %></td>
          <td><%= news_ticker.status %></td>
          <td>
            <%= link_to "Edit", edit_admin_news_ticker_path(news_ticker), data: { confirm: 'Are you sure?' }, class: 'btn btn-primary' %>
            <%= link_to 'Delete', admin_news_ticker_path(news_ticker), method: :delete, class: 'btn btn-danger', style: "display: inline-block", data: { confirm: 'Are you sure?' } %>
          </td>
      <% end %>
      </tr>
      </tbody>
    </table>
  </div>
</div>
