<%= render '/users/shared/banner' %>
<%= render "errors/flash_error" %>
<div class="container" style="margin-bottom: 100px; margin-top: 20px; max-width: 1220px">
  <div class="row">
    <% @offers.each do |offer| %>
      <div class="col-6">
        <div class="card shadow-none border-none mb-3 overflow-hidden" style="max-height: 320px; height:20vw; min-height: 220px;">
          <div class="overflow-hidden">
            <a data-bs-toggle="modal" data-bs-target="#staticBackdrop<%= offer.id %>">
              <%= image_tag offer.image.url, class: 'card-img-top img-responsive' if offer.image? %>
            </a>
            <div class="modal fade" id="staticBackdrop<%= offer.id %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog modal-xl modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-body">
                    <h5 class="modal-title" id="staticBackdropLabel">Do you want to pay: ₱<%= offer.amount %></h5>
                    <h5 class="modal-title" id="staticBackdropLabel">and get <%= offer.coin %> coins</h5>
                    <div style="float:right">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <%= link_to 'Confirm', shop_new_order_path(offer), class: 'btn btn-primary', method: :post %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br><br>
    <% end %>
  </div>
</div>
<%= render "users/shared/layout" %>