<%= render "admin/shared/layout" %>
<div class="main">
  <h1> User List </h1>
  <table class="table table-dark text-center">
  <thead>
  <tr class="table-active">
    <th scope="col">Parent Email</th>
    <th scope="col">Email</th>
    <th scope="col">Total Deposit</th>
    <th scope="col">Member Total Deposit</th>
    <th scope="col">Coins</th>
    <th scope="col">Total Used Coins</th>
    <th scope="col">Children Members</th>
    <th scope="col">Phone Number</th>
  </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
  <tr>
      <td><%= user.parent&.email %></td>
      <td><%= user.email %></td>
      <td><%= user.total_deposit %></td>
      <td><%= user.member_total_deposits %></td>
      <td><%= user.coins %></td>
      <td><%= user.total_used_coins %></td>
      <td><%= user.children_members %></td>
      <td><%= user.phone %></td>
  </tr>
  <% end %>
  </tbody>
</table>
</div>

