<div class="center w-75" style="margin: 50px auto">
  <div class="main">
    <table class="table table-dark table-striped text-center fs-6">
      <thead class="table-active">
      <tr>
        <th colspan="3">Category List</th>
      </tr>
      <%= render 'errors/flash_error' %>
      <tr>
      <th>Name</th>
      <th colspan="2">Action</th>
      </tr>
      </thead>
      <% if @categories.blank? %>
        <td colspan="3">No Category Found</td>
      <% end %>
      <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td><%= category.name %></td>
          <td>
            <%= link_to "Edit", edit_admin_category_path(category), class: 'btn btn-primary' %>
            <%= link_to 'Delete', admin_category_path(category), method: :delete, class: 'btn btn-danger', style: "display: inline-block" %>
          </td>
      <% end %>
      </tr>
      </tbody>
    </table>
    <%= link_to 'New', new_admin_category_path, class: "btn btn-primary" %>
  </div>
</div>