<%= render '/users/shared/banner' %>
<div class="container" style="margin-bottom: 100px; margin-top: 20px; max-width: 1220px">
  <div class="mb-4">
    <%= link_to 'All', lottery_index_path, class: "category link-dark text-decoration-none mx-2", style: "#{'background-color :#10ccf4; font-weight: bolder; border-radius: 20px; padding: 10px;' if params[:category].blank? }" %>
    <% @categories.each do |category| %>
      <%= link_to category.name, lottery_index_path(category: category.name), class: "category link-dark text-decoration-none mx-2", style: "#{'background-color :#10ccf4; font-weight: bolder; border-radius: 20px; padding: 10px;' if params[:category] == category.name}" %>
    <% end %>
  </div>
  <div class="row">
    <% @items.each do |item| %>
      <div class="col-6 col-md-4 col-lg-3">
        <div class="card shadow-none border-none mb-3 overflow-hidden" style="max-height: 250px; height:20vw; min-height: 220px">
          <div class="overflow-hidden">
            <%= link_to (image_tag item.image.url, class:'card-img-top img-responsive' if item.image?), lottery_path(item) %>
          </div>
          <div class="card-footer flex-column mt-auto">
            <h6 class="text-start"><%= item.name %></h6>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: <%= progress(item) %>%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><%= progress(item) %>%</div>
            </div>
          </div>
        </div>
      </div>
      <br><br>
    <% end %>
  </div>
</div>
<%= render "users/shared/layout" %>